/Linguagens de Programação/aula2/build/
/Linguagens de Programação/ProvaB1/nbproject/private/
/Linguagens de Programação/ProvaB1/build/
/Linguagens de Programação/ProvaB1/dist/
/Linguagens de Programação/ProvaB2/nbproject/private/
/Linguagens de Programação/ProvaB2/build/
