/Linguagens de Programação/aula2/build/
/Linguagens de Programação/ProvaB1/nbproject/private/
/Linguagens de Programação/ProvaB1/build/
/Linguagens de Programação/ProvaB1/dist/
/Linguagens de Programação/ProvaB2/nbproject/private/
/Linguagens de Programação/ProvaB2/build/
/Linguagens de Programação/ProvaB2/dist/
/Linguagens de Programação/Aula_01/nbproject/private/
/Linguagens de Programação/B3-Sergio/Questao5/nbproject/private/
/Linguagens de Programação/B3-Sergio/Questao5/build/
/Linguagens de Programação/B3-Sergio/Questao6/nbproject/private/
/Linguagens de Programação/B3-Sergio/Questao6/build/
/Linguagens de Programação/B3-Sergio/Questao7/nbproject/private/
/Linguagens de Programação/B3-Sergio/Questao7/build/
